version: '3.8'

# volume will store the contract ABIs (build/contracts) and share them between the 'migrate' and 'client' services.
volumes:
  build_contracts:

  # volume will store the Ganache database.
  ganache_db_data:

services:
  # Ganache Blockchain Service
  blockchain:
    build:
      context: .
      dockerfile: Dockerfile.ganache
    environment:
      - MNEMONIC=${MNEMONIC} # Load from .env file
    ports:
      - "7545:7545"
    # Ganache save its data inside the container
    command: sh -c "ganache --host 0.0.0.0 --port 7545 --network-id 5777 --mnemonic \"$MNEMONIC\" --database.dbPath /app/db"    
    # Map internal path to persistent volume
    volumes:
      - ganache_db_data:/app/db

  # Contract Migration Service
  migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    depends_on:
      - blockchain # Waits for blockchain to be ready
    volumes:
      # service runs 'truffle migrate' and writes its output to the 'build_contracts' volume.
      - build_contracts:/build/contracts

  # AI Backend Server
  server:
    build:
      context: ./server
    environment:
      - WEATHER_API_KEY=${WEATHER_API_KEY} 
    ports:
      - "5000:5000"
    depends_on:
      - blockchain

  # React Frontend Client
  client:
    build:
      context: ./client
    ports:
      - "5173:5173"
    volumes:
      # Mounts the contract ABIs from the volume (read-only)
      - build_contracts:/build/contracts:ro
    depends_on:
      - migrate  
      - server   